@import url(../vendor/normalize.css);
@import url(../vendor/Root/styles.css);
@import "./variables";

body {
  background-color: $backgroundgrey;
  font-family: $fontfamily;

  .page {
    max-width: 1743px;
    box-sizing: border-box;
    margin: 0 auto;

    .header {
      &__title {
        font-weight: 700;
        font-size: 35px;
        line-height: 44px;
        color: $black;
        margin: 0;
        padding: 48px 0px 19px 43px;
      }
      @media screen and (max-width: 360px) {
        &__title {
          width: 252px;
          font-size: 27px;
          line-height: 32px;
          padding: 40px 16px 16px;
        }
      }
    }

    .order {
      background-color: $white;
      display: flex;
      border: 1px solid #c5c5c5;
      border-radius: 5px;
      box-sizing: border-box;

      @media screen and (max-width: 360px) {
        & {
          border: none;
        }
      }

      &__discription {
        max-width: 1117px;
        padding: 40px 82px 51px 43px;
        box-sizing: border-box;

        @media screen and (max-width: 360px) {
          & {
            max-width: 360px;
            padding: 24px 16px 32px;
          }
        }
      }

      &__delivery {
        width: 992px;
        @media screen and (max-width: 360px) {
          & {
            width: 100%;
          }
        }

        &-head {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &-btn {
          margin-bottom: 30px;
          border: 0;
          padding: 0;
          background: inherit;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 28px;
          color: #065cc2;
          cursor: pointer;

          @media screen and (max-width: 360px) {
            & {
              font-size: 17px;
              line-height: 21px;
              margin-bottom: 24px;
            }
          }
        }
      }

      &__buttons {
        @media screen and (max-width: 360px) {
          & {
            display: none;
          }
        }
      }

      &__slider {
        margin: 17px 0 14px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 360px) {
          & {
            margin: 8px 0 12px;
          }
        }

        &-track {
          display: flex;
          transition: 1s;
        }

        &-item {
          box-sizing: border-box;
          height: 152px;
          padding: 20px;
          display: flex;
          justify-content: space-between;
          border: 1px solid #c5c5c5;
          border-radius: 5px;
          margin-right: 14px;
          cursor: pointer;

          @media screen and (max-width: 360px) {
            & {
              height: 114px;
              padding: 16px 20px;
            }
          }

          &_active {
            border: 1px solid rgba(6, 92, 194, 1);
          }

          &:nth-child(even) {
            padding-top: 34px;
            p {
              padding-top: 28px;
            }

            div {
              p {
                padding: 0;
              }
            }
          }

          &:last-of-type {
            padding-right: 0px;
          }

          h5 {
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.13px;
            color: $black;
            margin: 0;

            @media screen and (max-width: 360px) {
              & {
                font-size: 17px;
                line-height: 21px;
                width: 260px;
              }
            }
          }

          p {
            margin: 0;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #1a1a1a;
            padding-top: 42px;

            @media screen and (max-width: 360px) {
              & {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }

          div {
            p {
              width: 360px;
              padding: 0;

              @media screen and (max-width: 360px) {
                & {
                  width: 260px;
                  margin: 0;
                }
              }
            }
          }
        }
      }

      &__button {
        border: 0;
        padding: 0;
        align-items: center;
        width: 40px;
        height: 40px;
        background: $white;
        border: 1px solid #d6d6d6;
        border-radius: 4px;
        color: $black;
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        cursor: pointer;

        &_inactive {
          border: 0;
          padding: 0;
          align-items: center;
          width: 40px;
          height: 40px;
          background: $white;
          border: 1px solid #d6d6d6;
          border-radius: 4px;
          color: $black;
          font-family: $fontfamily;
          font-style: normal;
          font-weight: 700;
          font-size: 29px;
          pointer-events: none;
          opacity: 0.25;
        }
      }

      &__date {
        &-change {
          display: flex;
          align-items: center;

          @media screen and (max-width: 360px) {
            & {
              flex-wrap: wrap;
            }
          }

          button {
            border: 0;
            padding: 0;
            background: inherit;
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            color: #065cc2;
            cursor: pointer;

            @media screen and (max-width: 360px) {
              & {
                font-size: 17px;
                line-height: 21px;
                text-align: start;
                margin-top: 12px;
              }
            }
          }
        }

        &-list {
          display: flex;
          padding: 0;
          margin: 0;
          list-style: none;

          li {
            box-sizing: border-box;
            width: 272px;
            height: 96px;
            padding: 20px;
            border: 1px solid #d6d6d6;
            border-radius: 4px;
            cursor: pointer;

            @media screen and (max-width: 360px) {
              & {
                width: 117px;
                height: 75px;
                padding: 16px 20px;
                overflow: hidden;
              }
            }

            &:last-of-type {
              margin: 0 30px 0 14px;

              @media screen and (max-width: 360px) {
                & {
                  margin: 0 0 0 8px;
                }
              }
            }

            p {
              margin: 0;
              font-weight: 700;
              font-size: 22px;
              line-height: 28px;
              color: #333333;

              @media screen and (max-width: 360px) {
                & {
                  font-size: 17px;
                  line-height: 21px;
                  width: 80px;
                  height: 21px;
                  overflow: hidden;
                }
              }

              &:last-of-type {
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                letter-spacing: 0.13px;

                @media screen and (max-width: 360px) {
                  & {
                    font-size: 14px;
                    line-height: 18px;
                    width: 80px;
                    height: 21px;
                    overflow: hidden;
                  }
                }
              }
            }
          }
        }

        &-additionally {
          display: flex;
          margin: 14px 0 30px 0;

          @media screen and (max-width: 360px) {
            & {
              margin: 24px 0 32px 0;
            }
          }

          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              display: flex;
              align-items: center;
              margin-bottom: 14px;

              &:last-of-type {
                margin-bottom: 0;
              }

              @media screen and (max-width: 360px) {
                & {
                  margin-bottom: 16px;
                }
              }
            }
          }
        }
      }

      &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        line-height: 37px;
        color: $black;
        margin: 0;

        span {
          font-weight: 400;
        }

        @media screen and (max-width: 360px) {
          & {
            font-size: 21px;
            line-height: 26px;
          }
        }
      }

      &__checkbox-container {
        display: block;
        position: relative;
        padding-left: 34px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;

        @media screen and (max-width: 360px) {
          & {
            font-size: 17px;
            line-height: 21px;
          }
        }

        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
      }
      &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: rgba(6, 92, 194, 0.3);
      }
      &__checkbox-container:hover input ~ .order__checkmark {
        background-color: #ccc;
      }
      &__checkbox-container input:checked ~ .order__checkmark {
        background-color: rgba(6, 92, 194, 1);
      }

      &__checkmark:after {
        content: "✔";
        color: white;
        position: absolute;
        left: 3px;
        display: none;
      }
      &__checkbox-container input:checked ~ .order__checkmark:after {
        display: block;
      }
      &__checkbox-container &__checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &__addressee {
        display: grid;
        gap: 14px;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: 572px 287px;
        grid-template-areas:
          "title title"
          "label1 label2"
          "label3 label4";

        @media screen and (max-width: 360px) {
          & {
            gap: 8px;
            grid-template-columns: 210px auto;
            grid-template-areas:
              "title label3"
              "label1 label1"
              "label2 label4";
          }
        }

        &-title {
          font-style: normal;
          font-weight: 700;
          font-size: 29px;
          line-height: 37px;
          color: #333333;
          margin: 0;
          grid-area: title;

          @media screen and (max-width: 360px) {
            & {
              font-size: 21px;
              line-height: 26px;
            }
          }
        }

        button {
          background: inherit;
          border: 0;
          padding: 0;
          color: #065cc2;
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          cursor: pointer;
          text-align: start;

          @media screen and (max-width: 360px) {
            & {
              font-size: 17px;
              line-height: 20px;
            }
          }
        }

        &-info {
          border: 1px solid #d6d6d6;
          border-radius: 4px;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          padding: 8px 14px 12px 14px;

          @media screen and (max-width: 360px) {
            & {
              width: 328px;
              height: 69px;
              padding: 16px;
            }
          }

          &:first-of-type {
            grid-area: label1;
          }

          &:last-of-type {
            grid-area: label2;
          }

          label {
            font-weight: 400;
            font-size: 17px;
            line-height: 21px;
            margin-bottom: 5px;

            @media screen and (max-width: 360px) {
              & {
                font-size: 14px;
                line-height: 18px;
                margin: 0;
              }
            }
          }

          select {
            font-weight: 700;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.13px;
            background: none transparent;
            border: 0 none;
            cursor: pointer;
            text-align: start;

            @media screen and (max-width: 360px) {
              & {
                font-size: 17px;
                line-height: 20px;
              }
            }
          }
        }
      }

      &__price {
        width: 625px;
        box-sizing: border-box;
        padding: 40px 50px;
        border-left: 1px solid rgba(140, 140, 140, 1);

        @media screen and (max-width: 360px) {
          & {
            display: none;
          }
        }

        &-list {
          padding: 0;
          margin: 0;
          margin-top: 30px;
          max-width: 489px;
          list-style: none;
          border-bottom: 1px solid #d6d6d6;

          li {
            display: flex;
            justify-content: space-between;
            font-family: $fontfamily;

            &:nth-child(even) {
              margin: 14px 0;
            }

            &:last-of-type {
              margin-bottom: 20px;
            }
            p {
              font-style: normal;
              font-weight: 400;
              font-size: 22px;
              line-height: 28px;
              color: $black;
              margin: 0;

              &:last-of-type {
                font-weight: 700;
                font-size: 22px;
                line-height: 28px;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f8f8f8;
    display: flex;
    box-sizing: border-box;
    padding: 20px 184px 20px 120px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #c5c5c5;

    @media screen and (max-width: 360px) {
      & {
        position: relative;
        padding: 16px;
        flex-direction: column-reverse;
      }
    }

    &__button {
      cursor: pointer;
      width: 398px;
      height: 80px;
      font-weight: 700;
      font-size: 29px;
      line-height: 37px;
      letter-spacing: 0.5px;
      color: #ffffff;
      background: linear-gradient(0deg, #ec0002, #ec0002),
        linear-gradient(91.91deg, rgba(208, 38, 38, 0) 0%, #d02626 99.65%),
        #ff0000;
      border: 1px solid #e01d1d;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12),
        0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
      border-radius: 4px;

      @media screen and (max-width: 360px) {
        & {
          width: 328px;
          height: 52px;
          font-size: 17px;
          line-height: 21px;
        }
      }
    }

    &__total {
      display: flex;
      justify-content: space-between;
      width: 489px;
      align-items: center;

      @media screen and (max-width: 360px) {
        & {
          display: none;
        }
      }
      p {
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        color: #333333;
        margin: 0;

        &:last-child {
          font-weight: 700;
          font-size: 35px;
          line-height: 44px;
        }
      }
    }

    &__total-mobile {
      display: flex;
      justify-content: space-between;
      width: 328px;
      align-items: center;
      margin-bottom: 16px;

      @media screen and (min-width: 361px) {
        & {
          display: none;
        }
      }

      p {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        margin: 0;
      }

      button {
        background: inherit;
        border: 0;
        color: #065cc2;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        font-style: normal;
        font-weight: 400;
        padding: 0;
      }
    }
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: #e5e5e5;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    &__open {
      display: flex;
    }

    &__summary {
      padding: 40px 16px 20px 16px;
    }

    &__title {
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
      span {
        font-weight: 400;
      }
    }

    &__list {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        justify-content: space-between;

        &:nth-child(even) {
          padding-top: 14px;
          padding-bottom: 20px;
          border-bottom: 1px solid #d6d6d6;
        }

        &:last-child {
          padding-top: 21px;
          padding-bottom: 20px;
          border-bottom: 1px solid #d6d6d6;
        }

        p {
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          color: #333333;

          &:nth-child(even) {
            font-weight: 700;
            font-size: 17px;
            line-height: 21px;
            text-align: right;
          }
        }
      }
    }

    &__hide {
      width: 360px;
      height: 84px;
      box-sizing: border-box;
      padding: 16px;
      align-items: center;
      justify-content: center;
      display: flex;
      border: 1px solid #d6d6d6;
    }

    &__button {
      width: 328px;
      height: 52px;
      border: 1px solid #d6d6d6;
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12),
        0px 3px 1px rgba(0, 0, 0, 0.04), 0px 2px 0px rgba(149, 135, 128, 0.4);
      border-radius: 4px;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 21px;
      letter-spacing: 0.5px;
      cursor: pointer;
    }
  }
}
